.main-header {
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  min-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.logo img {
  height: 100%;
  vertical-align: middle;
}

.hamburger {
  width: 40px;
  height: 40px;
  background-color: #000;
}

.main-nav {
  /* display: none; */
  position: absolute;
  width: 80%;
  height: calc(100vh- 65px);
  background-color: #fa0;
  top: 100%;
  left: -100%;
  transition: left 1s;
}

.main-nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #000;
}

#menu-check {
  display: none;
  position: fixed;
  z-index: 10;
}

#menu-check:checked ~ .main-header .main-nav {
  /* display: block; */
  left: 0;
}

.hamburger span {
  width: 32px;
  height: 4px;
  background-color: #ff0;
  position: absolute;
  left: 4px;
  right: 4px;
}

.hamburger span.bar-1 {
  top: 7px;
  transform: top 0.5s 0.5s;
  transform: 0.5s 0s;
}

.hamburger span.bar-2 {
  top: 18px;
  opacity: 1;
}

.hamburger span.bar-3 {
  bottom: 7px;
  transform: rotate();
}

@media screen and (max-with: 1200px) {
  .hamburger {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .main-nav a {
    color: #666;
    padding: 10px 20px;
  }

  .main-nav a + a {
    border-left: 1px solid black;
  }
}
